<% layout("/layouts/boilerplate")%>
<body>
    <form method="POST" action="/listings/<%= listing._id%>?_method=PUT">
        <h3>Create New listing</h3>
        <input name="listing[title]" type="text" value="<%= listing.title%>"/>
        <br/><br/>
        <textarea  name="listing[description]" ><%= listing.description %></textarea>
        <br/><br/>
        <input name="listing[price]" type="number"  value="<%= listing.price%>"/>
       <br/>
        <input name="listing[image]" type="text" value="<%= listing.image.url %>"/>
        <br/><br/>
        <input name="listing[location]" type="text" value="<%= listing.location%>"/>
        <br/><br/>
        <input name="listing[Country]" type="text" value="<%= listing.country%>"/>
        <br/><br/>
        <button>Submit</button>
    </form>
    
</body>
